.html-style {
    height: 100%;
}

.navbar-style {
    background: transparent;
    font-weight: bolder;
    font-size: larger;
    height: 70px !important;
    padding: 10px;
    border-color: transparent;
}

.logo {
    height: 75px;
    width: 120px;
    margin: -30px;
    padding-right: 10px;
    padding-left: 10px;
}

.active > a {
    background-color: transparent !important;
}

.background {
    background-image: url("../static/images/gameBg.jpg");
    background-size: cover;
    color: beige;
    height: 100%;
}

.title-header {
    font-size: 20px;
    color: #90889f;
}

.title {
    margin-top: 20px;
    margin-bottom: 30px;
}

.text-style {
    font-size: 16px;
    line-height: 20px;
}

.title:after {
    background-image: radial-gradient(#5e1da1, #1f013e, #1c0038, #ffffff00);
    content: "";
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 50%;
    right: 0;
    left: 0;
    margin: 45px auto 0;
    position: absolute;
}

.center {
    text-align: center;
}

/*buttons*/
.button-style {
    border: 0.5px solid #5e1da1;
    transition: all 0.3s ease;
    background-color: transparent;
    color: beige;
    font-weight: bold;
    position: relative;
}

.button-style:before,
.custom-col-end-game:before {
    top: -2px;
    left: -2px;
    border-top: 2px solid #8f5dc3;
    border-left: 2px solid #8f5dc3;
}

.button-style:after,
.custom-col-end-game:after {
    top: -2px;
    right: -2px;
    border-top: 2px solid #8f5dc3;
    border-right: 2px solid #8f5dc3;
}

.button-common {
    padding: 10px 20px;
    font-size: 17px;
    width: auto;
    line-height: 20px;
}

.button-span:before,
.border-bottom:before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid #8f5dc3;
    border-left: 2px solid #8f5dc3;
}

.button-span:after,
.border-bottom:after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #8f5dc3;
    border-right: 2px solid #8f5dc3;
}

.button-style:before,
.button-style:after,
.button-span:before,
.button-span:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: transparent;
    transition: 1s;
}

.button-style:hover {
    transform: scale(1.1);
    color: inherit;
}

.list-style {
    background: transparent;
    border-color: transparent;
    font-size: 18px;
}

/*home page*/
.custom-row-home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0 25px;
    height: 80%;
}

.custom-left-col-home {
    width: 55%;
}

.custom-right-col-home {
    width: 45%;
}

.cover-box {
    margin-left: 160px;
    background-color: transparent;
    color: beige;
    line-height: 22px;
    position: relative;
    max-width: 65%
}

.cover-image {
    max-width: 100%;
    width: 100%;
    padding-right: 180px;
}

/*selection page*/
.select-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    font-family: "Orbitron";
}

.button-number {
    padding: 40px;
    margin: 10px 20px;
    font-size: 30px;
    width: 25%;
    background-image: radial-gradient(#00000042, #41087a);
    line-height: 30px;
}

/*end game*/
.custom-row-end-game {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    padding: 10px
}

.custom-col-end-game {
    border: 1px solid #5e1da1;
    margin: 5px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 20px;
    position: relative;
}

.border-bottom {
    width: 100%;
}

.custom-flex {
    display: flex;
}

.custom-col-end-game:before,
.custom-col-end-game:after,
.border-bottom:before,
.border-bottom:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    transition: 1s;
}

.custom-col-left {
    width: 30%;
}

.custom-col-center {
    width: 30%;
}

.custom-col-right {
    width: 37%;
}

.image-col {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 35px;
}

.image-icon {
    height: 95px;
    width: 95px;

}

.text-col {
    width: 60%;
    align-items: center;
}

.custom-col-bottom {
    width: 49%;
    height: 380px;
}

.details {
    /*border: 2px solid #5e1da1;*/
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
    /*border-radius: 5px;*/
    /*background-image: linear-gradient(233deg, #3f215d, transparent);*/
}

.end-game-details {
    font-size: 17px;
    line-height: 35px;
}

thead, tbody tr {
    display: table;
    width: 100%;
}

thead {
    margin-bottom: 10px;
}

tbody {
    overflow: visible;
    max-height: 200px ;
    display: block;
    width: 100%;
}

.table-header:after {
    background-color: #9a9a9769;;
    content: "";
    display: inline-block;
    height: 1px;
    width: 87%;
    right: 16px;
    left: 0px;
    margin: 33px auto 0;
    position: absolute;
}

.winner-details {
    overflow: visible;
    font-size: 15px;
    line-height: 17px;
    height: 108px;
}

/*sweet alerts*/
body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

.swal-style {
    width: 600px !important;
    height: 420px !important;
    background-image: url("../static/images/gameBg.jpg") !important;
    background-size: cover !important;
    color: beige !important;
    font-size: larger !important;
    border: 5px solid #5e1da1;
}

.swal2-modal {
    border: 5px solid #452269 !important;
    border-radius: 25px !important;
}

.swal2-confirm {
    /*border: 2px solid #452269 !important;*/
    transition: all 0.3s ease !important;
    background-color: #694291 !important;
    color: beige !important;
}

.swal2-deny {
    border: 2px solid #694291 !important;
    transition: all 0.3s ease !important;
    background-color: transparent !important;
    color: beige !important;
    margin-left: 20px !important;
}

.input-style {
    border-color: #8f5dc3;
    background: transparent;
    color: beige;
    border-radius: 5px;
    height: 35px;
    width: 380px;
    text-align: center;
}